
.carddiv{
    background-color: #fffdfd;
    padding-top: 10px;
    z-index: -1;
    text-align: center;
    width: 80%;
    border-radius: 10px;
}
.fav{
    width: 100%;
    padding-right: 5%;
    display: flex;
    justify-content: right;

    /* height: 10px; */
}
.cardImage img{
    width: 90%;
}
.cardDetails{
    
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.cardDetails div p{
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 5px;
}

.carddeatils-price{
    font-weight: bold;
    font-size: 20px;
}
.carddeatils-title{
    font-weight: 500;
    font-size: 15px;
}

.carddeatils-seller{
    font-size: 12px;
}
.cardDetails div button{
    margin-top: 7px;
}
.cardDetails .buySell p{
    margin-top: 25px;
    font-size: 12px;
}