.category{
    margin-top: 40px;
    
}
.category h2{
    color: black;
    font-size: 24px;
    margin-left: 1rem;
}
.category div{
    padding: 0px 15% 0px 15%;
    margin-top: 20px;
}
.category ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ima3{
    margin-left: 10%;

}

